<div id="fixed-bg" style="top: -1823px;"></div>
<div id="page" class="hfeed site">
	<header id="masthead" class="site-header" role="banner">
		<div class="header-wrap clearfix">
			<div class="site-branding">
				<h1 class="site-title"><a href="https://elysia.jp/" title="" rel="home"><img src="/assets/img/logo.png" alt=""></a></h1>
			</div>
			<div class="header-search-icon"></div>
			<form role="search" method="get" class="search-form" action="https://elysia.jp/">
				<label>
					<span class="screen-reader-text">Search for:</span>
					<input type="search" class="search-field" placeholder="Search …" value="" name="s">
				</label>
				<input type="submit" class="search-submit" value="Search">
			</form>
			<nav id="site-navigation" class="main-navigation" role="navigation">
				<h4 class="menu-toggle"></h4>
				<a class="skip-link screen-reader-text" href="https://elysia.jp/#content">Skip to content</a>
				<div class="menu-menu-1-container">
					<ul id="menu-menu-1" class="menunav-menu">
						<li id="menu-item-574" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-574"><a href="/about/">法人概要</a></li>
						<li id="menu-item-575" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-575"><a href="/facilities/">施設案内</a>
							<ul class="sub-menu">
								<li id="menu-item-576" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-576"><a href="/facilities/centerplaza/">地域生活支援センタープラザ</a></li>
								<li id="menu-item-577" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-577"><a href="/facilities/ikoiplaza/">西府いこいプラザ</a></li>
								<li id="menu-item-578" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-578"><a href="/facilities/gh/">共同生活援助（グループホーム）</a></li>
								<li id="menu-item-579" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-579"><a href="/facilities/olive/">西府いこいプラザ（就労継続支援B型）</a></li>
								<li id="menu-item-580" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-580"><a href="/facilities/ss/">短期入所（ショートステイ）</a></li>
								<li id="menu-item-583" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-583"><a href="/facilities/wssakae/">ワークショップさかえ（就労継続支援B型）</a></li>
							</ul>
						</li>
						<li id="menu-item-647" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-647"><a href="/blog/">活動報告</a>
							<ul class="sub-menu">
								<li id="menu-item-1177" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1177"><a href="/blog/centerplaza/">地域生活 支援センタープラザ</a></li>
								<li id="menu-item-1176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1176"><a href="/blog/ghss/">グループホーム・ショートステイ</a></li>
								<li id="menu-item-1178" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1178"><a href="/blog/olive/">オリーブ（就労継続支援B型）</a></li>
								<li id="menu-item-1179" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1179"><a href="/facilities/wssakae/">ワークショップさかえ（就労継続支援Ｂ型）</a></li>
							</ul>
						</li>
						<li id="menu-item-584" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-584"><a href="/officialinfo/">情報公開</a></li>
						<li id="menu-item-585" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-585"><a href="/joboffer/">求人情報</a></li>
						<li id="menu-item-588" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-588"><a href="/solvings/">お問い合わせ先</a></li>
						<li id="menu-item-589" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-589"><a href="/papers/">広報誌</a></li>
					</ul>
				</div>
			</nav><!-- #site-navigation -->
		</div><!-- .inner-wrap header-wrap -->
	</header><!-- #masthead -->
</div>